<<<<<<< HEAD
<br/>
<div>
  <h1><%= @game.name %></h1><br/>
=======



<br />

<div id="chessboard">
	<% 4.times do %>
		<%= render 'odd_row' %>
		<%= render 'even_row' %>
	<% end %>
>>>>>>> 347b4ac3a05578df7d69eecdefa98d56afc8823d
</div>

<hr/>

<br/>
<div align="center">
  <div id="chessboard">
    <% 4.times do %>
      <%= render 'odd_row' %>
      <%= render 'even_row' %>
    <% end %>
  </div>
</div>

<<<<<<< HEAD
<br/>
=======

<br />

>>>>>>> 347b4ac3a05578df7d69eecdefa98d56afc8823d
